.footer{
    background-color:#A82D49;
    color:#fff;text-align: center;
    padding: 50px 0;
}
.footer a{
    color:#fff;
    text-decoration: none;
 
  letter-spacing: 0.3px;
}
.footer a:hover{
    text-decoration: none;
    color: #fff;
}
.footer a:visited{
    color:#fff;text-decoration: none;
}
.footer .links{
    margin-bottom: 20px;
    margin-top: 20px;
}
.footer .links a{
    margin: 0 10px;
    font-size: 18px;
}
.footer .social{
    margin-bottom: 20px;
}
.footer .social a{
font-size: 20px;
margin: 0 7px;

}